.grillacontenedora8partes
{
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
.grillacontenedora4partes
{
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
}
h1
{
    color: antiquewhite;
    font-size: 250%;
    font-family: fantasy;
    text-align: center;
}
header
{
    background-color: rgb(240, 20, 20);
}
footer
{
    background-color: rgb(71, 0, 0);
    text-align: center;
}
P.pie
{
 color: rgb(77, 47, 212);
}
div.oscuro
{
    background-color: rgb(207, 114, 114);
text-align: center;
border: 7px solid blueviolet;
border-radius: 15px;
}
div.claro
{
    background-color: bisque;
    text-align: center;
    border: 7px solid blueviolet;
border-radius: 15px;
}
h2:hover
{
    font-family: cursive;
    background-color: aqua;
    color: brown;
}

div :hover.oscuro
{
    background-color: rgb(1, 119, 255);
text-align: center;
border: 7px solid rgb(0, 238, 255);
border-radius: 15px;

}
